*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    color:black;
}

/* grid */

.grid{
    /* width:50% */
}

.topnav{
    
}

.topnav .youtube-icon{
    display: flex;
    align-items: center;
}

.topnav sup{
    margin-left:5px;
    margin-bottom:10px;
    font-size: 10px;
}

.topnav .youtube-icon .bar-icon{
    margin:0 30px;
    font-size: 20px;
}

.youtube-icon img{
   width:25px;
}



.topnav .search-container{
    /* margin: 10px 30px;   */
    align-items: center; 
   position: fixed;
   top :5px;
   left:300px;
   display:inline-block;
}

.topnav input[type=text]{
    padding: 6px;
    font-size:15px;
    display:block;
    /* float:left; */
    /* width:40%; */
} 

.topnav .search-container button{
    padding:10px 30px;
    font-size:15px;
    background:#ddd;
    border:none;
    margin-right: 20px;
    /* float:left */
}